html, body, nav, section, article, header, aside, div, h1, h2, ul, li, p, a, form, input, img {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1;
	border: none;
}

header, section, article, aside, nav {
	display: block;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #555;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	background: #f1f1f1;
}

#wrapper:after, #inner-section:after, article:after {
	content:"";
	display: block;
	clear: both;
	height: 0;
}

#wrapper>nav {
	margin-right: 20px;
}

#home-link {
	margin: 10px 0;
	padding-left: 20px;
	height: 16px;
	background: url('images/home.gif') no-repeat;
}

#home-link a {
	color: #000;
	font-size: 1.3em;
	font-weight: bold;
}

nav>ul>li {
	margin-bottom: 20px;
}

ul li ul li, ul li p {
	margin-bottom: 3px;
}

li p a {
	color: #8b0000;
	font-weight: bold;
}

nav li li a {
	color: inherit;
	text-transform: capitalize;
}

nav li li a:before {
	content: "CSS ";
}

nav a:hover {
	text-decoration: underline;
}

nav, #inner-section {
	float: left;
}

#inner-section>section, #inner-section>aside {
	float: left;
}

#inner-section {
	width: 810px;
}

#inner-section>section {
	width: 630px;
	padding: 10px 5px 30px;
	margin-right: 3px;
	background: #fff;
	border: 1px solid #c4c4c4;
}

#inner-section>aside {
	width: 160px;
}

#inner-section>section>header h1 {
	font-size: 1.7em;
	color: #000;
	margin-bottom: 20px;
}

.btn-wrp {
	margin: 5px 0;
	padding: 5px 0;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

.btn-wrp:first-of-type {
	border-top: none;
}

article, article p {
	margin-bottom: 15px;
}

article header, aside header {
	margin-bottom: 15px;
	padding: 3px 5px;
	background: #808080;
	color: #fff;
}

article a, .aside-box a {
	display: block;
	color: #c00;
	text-decoration: underline;
}

article a:hover, .aside-box a:hover {
	text-decoration: none;
}

article img {
	float: left;
	margin: 20px;
}

article:first-of-type p {
	color: #000;
	font-weight: bold;
}

.btn {
	width: 100px;
	text-transform: capitalize;
	background: #fff;
	border: 1px solid #000;
}

.btn.prev span {
	margin-right: 10px;
}

.btn.next span {
	margin-left: 10px;
}

aside header {
	margin: 0;
}

.aside-box {
	padding: 5px 0;
	background: #fff;
	border: 1px solid #c4c4c4;
	text-align: center;
}

.aside-box ul li a, .aside-box form {
	margin-bottom: 5px;
}

.aside-box input[type="text"] {
	width: 100px;
	border: 1px solid #c4c4c4;
}

.aside-box input[type="submit"] {
	width: 17px;
	height: 17px;
	background: #fff;
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}