html, body, div, h3, ul, li, p, img {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
	font-size: 16px;
}

#wrapper {
	width: 960px;
}

ul.menu {
	margin: 5px;
	list-style-type: none;
}

ul.menu li {
	display: block;
	float: left;
	width: 170px;
	height: 170px;
	padding: 5px;
	margin-right: 5px;
	overflow: hidden;
	border: 20px solid #808080;
	text-align: center;
	background: #727272;
	background: -moz-linear-gradient(top,  #727272 0%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#727272), color-stop(100%,#fff));
	background: -webkit-linear-gradient(top,  #727272 0%,#fff 100%);
	background: -o-linear-gradient(top,  #727272 0%,#fff 100%);
	background: -ms-linear-gradient(top,  #727272 0%,#fff 100%);
	background: linear-gradient(to bottom,  #727272 0%,#fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#fff',GradientType=0 );
}

ul.menu li h3 {
	margin-bottom: 5px;
	color: #fff;
	font-weight: bold;
}

ul.menu li div.image-container {
	margin: 0 auto;
}

ul.menu li div.image-container img {
	width: 120px;
	height: 100px;
	border-radius: 20px;
}

ul.menu li p.click-here {
	display: none;
}

ul.menu li p.subtitle {
	margin: 10px 0;
}

ul.menu li:hover p.subtitle {
	display: none;
}

ul.menu li:hover {
	background: #808080;
	border-color: #454545;
}

ul.menu li:hover h3 {
	text-decoration: underline;
}

ul.menu li:hover div.image-container img {
	width: 140px;
	height: 110px;
}

ul.menu li:hover p.click-here {
	display: block;
	margin: 0 0 20px;
	font-size: 1em;
	text-transform: uppercase;
	color: #fff;
}